.title {
  text-align: left;
}

h1 {
  margin: 0;
  margin-top: -10%;
  padding: 0;
  font-size: 12vw;
  /* font-size: 7.5rem; */
}

.hex-text {
  display: inline-block;
  font-size: 15vw;
  /* font-size: 9.375rem; */
  transform: translate(-20%, -0.5%);
}

.sub-title {
  display: block;
  margin-top: -1.5vw;
  margin-bottom: -3.5vw;
  font-size: 4vw;
  text-align: right;
  transform: translate(0%, -80%);
}

.container {
  margin: auto;
  text-align: center;
  height: 100vh;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
  
  h1 {
    margin-top: -5%;
  }

  .sub-title {
    text-align: center;
    transform: translate(20%, -80%);
  }

  .container {
    width: 60%;
  }
}

.answer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2px;
  width: auto;
}

.answer-button {
  font-family: Menlo, monospace;
  font-size: calc(100% + .35vw);
  flex: 1 1 0;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 2px;
  border-color: #ddd;
}

.answer-button:hover {
  background-color: #EEE;
  border-color: #BBB;
}

.stats {
  /* font-family: Menlo, monospace; */
  font-family: 'Helvetica Neue';
  font-size: calc(100% + .5vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#score {
  width: 40%;
  margin-right: auto;
  text-align: left;
}

#pipe {
  width: 20%;
  margin: auto;
  text-align: center;
  /* border: 1px solid red; */
}

#streak {
  width: 40%;
  margin-left: auto;
  text-align: right;
  /* border: 1px solid red; */
}

.check-block {
  margin-top: 40px;
  /* bottom: 300px; */
  width: 100%;
  /* text-align: center; */
}