.title {
  text-align: center;
  font-size: 48px;
}

.container {
  margin: auto;
  text-align: center;
  height: 100vh;
  width: 40%
}

.answer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: .125rem;
  width: auto;
}

.answer-button {
  font-family: monospace;
  font-size: calc(100% + .35vw);
  flex: 1 1 0;
  background-color: white;
  border-radius: 8px;
}

.answer-button:hover {
  background-color: #EEE;
}